label {
  font-size: 14px;
}

nav.navbar {
  height:75px;
}
nav.navbar > div {
  margin-left:10%;
}

span.navbar-brand {
  font-size:24px;
  font-weight:900;
}

nav ul > li > a {
  font-size:20px;
  font-weight:bold;
}

